################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Exercicio/FileContentIndex/32a6e180-08cf-460f-933c-6c4a7c5ff801.vsidx
/.vs/Exercicio/FileContentIndex
